<md-content flex="" class="setUpSchool welcomeCnt body-bg">
	<div layout="row" layout-align="center" class="welcomeCnt md-padding content" flex="">
		<div class="md-whiteframe-z1 md-padding body-cnt" flex="80">
			<div layout="row" layout-sm="column" style="height:98%;padding: 2%;">
				<div flex="">
					<md-content flex layout="column" layout-align="center center" style="height:98%;">
						<p style="margin-top:10px">Would you like to setup your school </p>
						<md-button ui-sref="setupschool" class="md-raised md-primary">Set up a school
						</md-button>

					<!-- 	<p class="mTop-10">OR</p>
						
						<p>Would you like to send out your first prefilled sample students report to your email id?</p>
						<md-button ui-sref="demoReportGenerate" class="md-raised md-primary">First prefilled sample student report</md-button> -->
					</md-content>
				</div>
			</div>
		</div>
	</div>
</md-content>